{% extends 'menu.html' %}

{% block dynamicContent %}
<h1 class="text-success">Añadir nuevo producto</h1>

<!-- Formulario de Añadir Producto -->
<form action="{{ url_for('add_product') }}" method="POST" class="row g-3 mt-4">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <div class="col-md-6">
        <label for="productname" class="form-label">Nombre del Producto:</label>
        <input type="text" id="productname" name="productname" class="form-control border-success" required>
    </div>

    <div class="col-md-6">
        <label for="imei" class="form-label">IMEI:</label>
        <input type="text" id="imei" name="imei" class="form-control border-success" required>
    </div>

    <div class="col-md-6">
        <label for="storage" class="form-label">Almacenamiento (GB):</label>
        <input type="number" id="storage" name="storage" class="form-control border-success" required>
    </div>

    <div class="col-md-6">
        <label for="battery" class="form-label">Batería (%):</label>
        <input type="number" id="battery" name="battery" class="form-control border-success" required>
    </div>

    <div class="col-md-6">
        <label for="color" class="form-label">Color:</label>
        <input type="text" id="color" name="color" class="form-control border-success" required>
    </div>

    <div class="col-md-6">
        <label for="description" class="form-label">Descripción:</label>
        <textarea id="description" name="description" class="form-control border-success"></textarea>
    </div>

    <div class="col-md-6">
        <label for="cost" class="form-label">Costo:</label>
        <input type="number" id="cost" name="cost" step="0.01" class="form-control border-success" required>
    </div>

    <div class="col-md-6">
        <label for="warehouse" class="form-label">Almacén Inicial:</label>
        <select id="warehouse" name="warehouse" class="form-select border-success" required>
            {% for warehouse in warehouses %}
                <option value="{{ warehouse.warehouse_id }}">{{ warehouse.warehouse_name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-12 text-center">
        <button type="submit" class="btn btn-success px-5 py-3 mt-3 button-add-product">Añadir Producto</button>
    </div>
</form>
{% endblock %}
