{% extends './layout.html' %}


{% block body %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">{{ current_user.username }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- Usa ms-auto para empujar el botón a la derecha -->
            <form class="d-flex ms-auto" role="search">
                <a class="btn btn-secondary" href="{{ url_for('logout') }}">Cerrar sesión</a>
            </form>
        </div>
    </div>
</nav>



{% endblock %}