{% extends './menu.html' %}

{% block body %}

<h1>Productos</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <br/>
    {% for category, message in messages %}
        {% if category == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% endwith %}
    
<!-- Formulario de búsqueda -->
<form method="GET" action="{{ url_for('show_products') }}">
    <input type="text" name="imei" placeholder="Search by IMEI" value="{{ imei }}">
    <input type="text" name="productname" placeholder="Search by Name" value="{{ productname }}">
    <select name="current_status">
        <option value="" {% if not current_status %}selected{% endif %}>All Statuses</option>
        <option value="In Warehouse" {% if current_status == 'In Warehouse' %}selected{% endif %}>In Warehouse</option>
        <option value="Under Repair" {% if current_status == 'Under Repair' %}selected{% endif %}>Under Repair</option>
        <option value="Sold" {% if current_status == 'Sold' %}selected{% endif %}>Sold</option>
    </select>
    <button type="submit">Search</button>
</form>


    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>IMEI</th>
                <th>Almacenamiento</th>
                <th>Batería</th>
                <th>Color</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Estado</th>
                <th>Fecha de adquisición</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.productname }}</td>
                <td>{{ product.imei }}</td>
                <td>{{ product.storage }}</td>
                <td>{{ product.battery }}</td>
                <td>{{ product.color }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.cost }}</td>
                <td>{{ product.current_status }}</td>
                <td>{{ product.acquisition_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Controles de navegación -->
    <div>
        {% if page > 1 %}
            <a href="{{ url_for('show_products', page=page-1) }}">Anterior</a>
        {% endif %}

        Página {{ page }} de {{ total_pages }}

        {% if page < total_pages %}
            <a href="{{ url_for('show_products', page=page+1) }}">Siguiente</a>
        {% endif %}
    </div>
{% endblock %}
