{% extends './layout.html' %}

{% block customCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleLogin.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block title %} 
    Login 
{% endblock %}


{% block body %}
<div class="wrapper">
    <span class="bg-animate"></span>
    <span class="bg-animate2"></span>

    <!-- Formulario de inicio de sesión -->
    <div class="form-box login">
        <h2 class="animation" style="--i:0; --j:21;">Bienvenido</h2>
        <form action="/login" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="input-box animation" style="--i:1; --j:22;">
                <input type="username" name="username" required>
                <label>Username</label>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box animation" style="--i:2; --j:23;">
                <input type="password" name="password" required>
                <label>Password</label>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <button type="submit" class="btn animation" style="--i:3; --j:24;">Ingresar</button>
            <div class="logreg-link animation" style="--i:4; --j:25;">
            </div>

            {%with messages = get_flashed_messages() %}

            {%if messages %}
        
            <br/>
            {% for message in messages %}
            <div class="alert alert-primary alert-dismissible" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        
            {% endfor %}
            {% endif %}
        
            {% endwith %}
        </form>
    </div>

    <!-- Información adicional -->
    <div class="info-text login">
        <a href="#">
            <img src="{{ url_for('static', filename='images/Logo2.png') }}" alt="Logo">
        </a>

    </div>


{% endblock %}